@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "base/base";
@import "base/variables";
@import "modules/modules";
@import "utilities/utilities";